
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Mobile Brand Details</h2>
        <button type="button" class="btn btn-primary" onclick="Brand.initCreateBrand();"> Add New</button>
        <br /><br />

        <div class="panel panel-primary">
            <div class="panel-heading">
                 Mobile Brand Details
                <div class="pull-right">

                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="divBrand">

                </div>
            </div>
        </div>
    </div>
</div>

<!--Create group Modal-->
<div id="CreateBrand" class="modal fade" role="dialog">

</div>

<script src="~/ProjectScript/Brand/Brand.js"></script>

<script type="text/javascript">
    $(function () {
       Brand.initBrandList();
    });
</script>
