
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        
        @Html.ActionLink("Add Customer", "AddCustomer", "Customer", null, new { @class = "btn btn-primary" })
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Customer Details
                <div class="pull-right">

                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="divCustomer">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
  <script src="~/ProjectScript/Customer/Customer.js"></script>
                
  }

